@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="text-info">
        Seja bem-vindo a DFLSecurityTurism, esta plataforma
        visa agregar informações das medidas de segurança
        e higiene, do COVID-19, nos hotéis e restaurantes do distrito de Coimbra.
    </h1>
</div>
<img src="~/image/imagem6.png" height="450" width="1080" />

<div class="text-sm-left">
    <h2 class="text-dark">
        Hotel da semana
    </h2>
</div>
<img src="~/image/imagem3.png" height="450" width="750" />
<div class="text-sm-right">
    <h3 class="text-sm-left">

        Restaurante da semana
    </h3>
</div>
<img src="~/image/imagem1.png" height="450" width="750" />

