@model List<DFLSecurityTurism_0._2.Models.Restaurante>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="text-uppercase">
        Restaurantes
    </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Solar do bacalhau</h1>
        <p>Descrição:</p>
        <img src="~/images/Imagem8.jpg" alt="" style=" width:300px; height:350px"/>
        
    </div>

        </div>
        <div style="text-align:center">
            <a class="btn btn-primary">Carregar Mais</a>
            </div>

              
